<div class="table-container">
  <table class="cart-container">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price(RON)</th>
      <th>Description</th>
      <th>Product Image</th>

    </tr>
    </thead>

    <tbody>

    <tr class="cart-item" *ngFor="let item of items">
      <td>{{ item.name }}</td>
      <td>{{ item.price}}</td>
      <td>{{ item.description}}</td>
      <td><img bind-src="item.thumbnail"></td>
    </tr>
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="clearCart()">Submit</button>
      <button mat-raised-button color="primary" (click)="refresh()">Checkout</button>
    </div>
    </tbody>



  </table>
</div>
